.container {
    display: grid;
    grid-template-columns: 60% 40%;
    background: linear-gradient(90deg, rgba(41, 93, 170, 1) 0%, rgba(69, 157, 244, 1) 50%);
    border-radius: 20px;
    margin: 20px;
    width: 700px;
    position: center center;
}

.content {
    padding: 1em;
    margin-left: 50px;
}

.content h2 {
    font-size: 50px;
    color: white;
}

.content p {
    color: rgb(209, 209, 209);
    margin: 0;
}

.model {
    padding: 1em;
    background: none repeat scroll 0;
}

.model model-viewer {
    height: 400px;
    width: 400px;
    margin-top: -10px;
    margin-left: -70px;
}

.button {
    transition: none;
    border: 1px solid #fff;
    border-radius: 20px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
}